// Cheesey color palette
$backgroundcolor: #f5f1ed;
$mainfontcolor: #70798c;
$secondarybackground: #a99985;
$titlecolor: #252323;

body {
    background-color: $backgroundcolor;
    color: $mainfontcolor;
    font-family: 'Shrikhand', cursive;
}